.navbar {
    position: relative;
    margin-top: 2rem;
}

.icon {
    font-size: 2rem;
    color: #fbcfe8;
}

.counter {
    background-color: #9D174D;
    border: none;
    padding: 1px 5px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 20px;
    color: #fbcfe8;
    font-weight: 300;
}

