.navbar {
    position: relative;
}

.icon {
    font-size: 2rem;
    color: #fbcfe8;
}

.counter {
    background: none;
    border: 1px solid #fbcfe8;
    padding: 2px 7px;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 24px;
    color: #fbcfe8;
    font-weight: 600;
}

