* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    margin: 10px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.842);
    text-transform: capitalize;
}

body {
    background-color: #1A1A40;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: content;
}

