*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h2{
    margin: 10px;
    padding: 10px;
    border-bottom: solid;
}

body{
    background-color: rgb(17, 109, 100);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.container >*{
    margin-bottom: 2rem;
}

button{
    border: none;
    padding: 10px;
    border-radius:10px ;
    background: #000;
    color: wheat;
    cursor: pointer;
    transition: all .6s;
}
button:hover{
    color: #000;
    background: wheat;
}

